<div class="container-fluid">
  <div class="row">
    <div class="barra-lateral col-12 col-sm-auto">
      <nav class="dashboard">
        <a routerLink="/parametros/atracciones"><span>Atracciones</span></a>
        <a routerLink="/parametros/restaurantes"><span>Restaurantes</span></a>
        <a routerLink="/parametros/clientes"><span>Visitantes</span></a>
        <a routerLink="/parametros/empleados"><span>Usuarios</span></a>
      </nav>
    </div>
    <main class="main col">
      <h3>Administración</h3>
      <div class="row justify-content-center align-content-center text-center">
        <div class="columna col-lg-8">
          <br />
          <button class="btn btn-success blue">Agregar</button>
          <fieldset>
            <legend>Atracciones</legend>
            <br />
            <table class="tabla">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Imagen</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><button class="btn btn-success dark orange">Editar</button></td>
                  <td><button class="btn btn-success red">Eliminar</button></td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>
      </div>
    </main>
  </div>
</div>

