@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Splash&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One';
}

.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    color: #fff;
    background: #222;
}

.navbar li{
    list-style-type: none;
    padding: 1rem;
    color: #fff;
}

.navbar li a{
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    transition: all 600ms;
    cursor: pointer;
}

.navbar li a:hover{
    color: red;
}

.navbar .aqui{
    color: red;
}

.navbar-logo{
    flex: 1;
    font-size: 1.5rem;
    font-weight: 400;
    user-select: none;
    font-family: 'Russo One';
    text-transform: uppercase;
    padding-left: 20px;
}

span{
    color: red;    
    font-weight: 400;
    font-family: 'Russo One';
    text-transform: uppercase;
}
