<nav class="navbar">    
  <ul>
       <a routerLink="" class="navbar-logo">Adventure <span>Park</span></a>
       <li *ngIf="!sesionActiva"><a routerLink="/seguridad/atracciones">Atracciones</a></li>
       <li *ngIf="!sesionActiva"><a routerLink="/seguridad/restaurantes">Restaurantes</a></li>
       <li *ngIf="!sesionActiva"><a routerLink="/seguridad/tickets">Tickets</a></li>
       <li *ngIf="!sesionActiva"><a routerLink="/seguridad/login">Login</a></li>
       <li *ngIf="!sesionActiva"><a routerLink="/seguridad/registro">Registrarme</a></li>
       <li *ngIf="sesionActiva"><a routerLink="/seguridad/perfil">Perfil</a></li>
       <li *ngIf="sesionActiva"><a routerLink="/seguridad/administracion">Administración</a></li>
       <li *ngIf="sesionActiva"><a routerLink="/seguridad/salir">Salir</a></li>
   </ul>
</nav>