@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    height: calc(100vh - 60px);
    width: calc(100% - 20px);
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
    *transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* BARRA DEL MENU */

.menu{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.menu a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    font-family: "Roboto";
    font-weight: 600;
    *text-transform: uppercase;

}

.menu a:hover{
    color: red;
    transition: .8s;
}

.menu .aqui{
    color: red;
}

/* Titulo */

main{
    width: 100%;
    height: calc(100vh - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    margin: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0067a2;    
    border-radius: 20px;
}

img{
    width: 60px;
}

h1{
    text-align: center;
    color: #2CFFB3;
    align-items: center;
    margin-top: 50px;
    font-size: 60px;
    *text-transform: uppercase;
}

/* FORMULARIO CAMBIO DE CONTRASEÑA */

.cont{
    border-radius: 40px;
    height: 600px;
    width: 480px;
    position: relative;
    background: white;
}

h2{
    text-align: center;
    color: rgb(0, 148, 148);
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
}

input,
button {    
    border: none;
    outline: none;
    background: none;
}

label {
    display: block;
    width: 260px;
    margin: 50px auto 0;
    text-align: center;
}

label span {
    font-size: 16px;
    font-weight: 800;
    color: #0067a2;
    text-transform: uppercase;
}

span{
    color: #0047FF;
    font-size: 20px;
    padding: 18px 20px;
}

input {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

button {
    display: block;
    margin: 20px auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.submit {
    margin-top: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto';
    background: -webkit-linear-gradient(left, #0047FF, #2CFFB3);
}

.submit:hover {
    background: -webkit-linear-gradient(left, #2CFFB3, #0047FF);
    transform: scale(1.1);
}

