<div class="container-fluid">
  <div class="row">
    <div class="barra-lateral col-12 col-sm-auto">
      <nav class="dashboard">
        <a routerLink="/parametros/atracciones"><span>Atracciones</span></a>
        <a routerLink="/parametros/restaurantes"><span>Restaurantes</span></a>
        <a routerLink="/parametros/clientes"><span>Visitantes</span></a>
        <a routerLink="/parametros/empleados"><span>Usuarios</span></a>
      </nav>
    </div>
    <main class="main col">
      <h3>Administración</h3>
      <div class="row justify-content-center align-content-center text-center">
        <div class="columna col-lg-10">
        <div class="bienvenida">          
          <div>
            <h4>Bienvenido:</h4>
            <p>Aqui podrás Consultar, Crear, Modificar, y Eliminar datos y registros Del Parque, de los usuarios, de nuestros puntos de ventas y los restaurantes.</p>
            <p>Por favor ten mucho cuidado al momento de alterar cualquier dato.</p>
            <p> <span class="att">Att:</span> La Gerencia De Adventure Park - Colombia.</p>
          </div>
          <div class="Mensaje">
            <img src="../../../../assets/img/Banner.jpg">            
          </div>
        </div>
          
        </div>
      </div>
    </main>
  </div>
</div>
